html, body {
    margin: 0 0 5px 0;
    padding: 0;
    background-color: lightgray;

    -ms-user-select: none; 
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.main {
    opacity: 1;
}

.disconnected, .loginSess {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
}

.disconnected>span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    margin: auto;
    text-align: center;
}

header {
    margin: 0 0 25px 0;
    height: 60px;
    border-bottom: 3px solid rgb(75, 75, 75);
    background-color: white;
    color: black;
}

header>div {
    height: 60px;
    width: 100%;
}

.back_btn{
    float: left;
    height: 30px;
    width: 28px;
    margin-top: 15px;
    margin-left: 15px;
    border: 2px solid rgb(68, 150, 218);
    border-radius: 10px;
    text-align: center;
    line-height: 23px;
    padding-right: 2px;
    font-size: 30px;
    font-weight: 700;
    color: rgb(68, 150, 218);
}

.back_btn:hover {
    cursor: pointer;
    border: 2px solid rgba(70, 131, 180, 0.78);
    color: rgba(70, 131, 180, 0.78);
}

.text2_name {
    margin-right: 5px; 
}

/* 로그인 */
.login {
    margin: 200px auto;
    padding-top: 5px;
    padding-bottom: 8px;
    background-color: #d3d3d3;
    border: 1px solid #808080;
    border-radius: 9px;
}

.input_form {
    width: 100%;
}

.error {
    display: block;
    margin: 2px auto 2px;
    width: 65%;
    padding-left: 8px;
    height: 10px;
    color: rgb(216, 25, 25);
}

.id, .pw {
    display: block;
    margin: 10px auto;
    padding: 2px 5px;
    width: 65%;
    height: 28px;
    border: 1px solid gray;
    border-radius: 9px;
}

.id:focus, .pw:focus {
    outline: 0;
    border: 1px solid cornflowerblue;
}

.login_btn {
    display: block;
    margin: 20px auto;
    width: 70%;
    height: 44px;
    font-size: 18px;
    color: white;
    background-color: rgb(120, 181, 200);
    border-radius: 9px;
}

.login_btn:focus {
    outline: 0;
}

@media (min-width: 501px) {
    header>div {
        margin: 0 auto;
        max-width: 700px;
    }
    .logo {
        float: left;
        margin: 13px 0 0 40px;
        height: 50%;
    }
    .text1, .text2 {
        float: right;
        margin: 19px 25px 0 0px;

        font-size: 16px;
    }
    .disconnected>span {
        width: 300px;
        font-size: 32px;
    }
    .login {
        max-width: 550px;
        min-width: 460px;
        width: 65%;
    }
    .id, .pw {
        font-size: 16px;
    }
    .error {
        font-size: 12px;
    }
}

@media all and (max-width: 500px) {
    header>div {
        display: inline-block;
    }
    .logo {
        display: block;
        margin: 6px auto 0 auto;
        height: 36%;
    }
    .text1, .text2 {
        display: block;
        text-align: center;
    }
    .text1 {
        margin: 7px auto 0 auto;

        font-size: 12px;
    }
    .text2 {
        margin: 22px auto;

        font-size: 12px;
    }   
    .right_empty {
        float: right;
        margin: 15px 10px 0 3px;
        height: 30px;
        width: 30px;
    }
    .disconnected>span {
        width: 200px;
        font-size: 18px;
    }
}

@media (min-width: 301px) and (max-width: 500px) {
    /* 수정중 */
    .login {
        min-width: 300px;
        width: 80%;
    }
    .id, .pw{
        width: 75%;
        font-size: 14px;
    }
    .error {
        width: 75%;
        font-size: 11px;
    }
    .login_btn {
        width: 85%;
    }
}



@media (max-width: 301px) {
    /* 수정중 */
    .login {
        width: 97%;
    }
    .id, .pw{
        width: 80%;
        font-size: 12px;
    }
    .error {
        width: 80%;
        font-size: 10px;
    }
    .login_btn {
        width: 85%;
    }
}
