/* section>div:nth-child(1) {
    margin: 40px auto 40px auto;
    width: 500px;
    height: 300px;
    border: 1px solid red;
    background: white
} */

section>div:nth-child(n + 2) {
    margin-left: 20px;
    margin-right: 20px;
}

.state {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 13px;
    margin-bottom: 30px; 
    padding: 2px 4px 3px 4px;
    border-radius: 10px;
    border-top: 2px solid rgb(100, 100, 100);
    border-left: 2px solid rgb(100, 100, 100);
    background: white;
}

.graph_item {
    margin: 3px 0 3px 5px;
    /* text-align: center; */
    /* width: 50px;  */
}

.pos {
    margin-right: 2px;
    border-radius: 9px;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    background: rgb(230, 230, 230);
}

/* .pos2 {
    padding: 0px 5px 0px 5px;
    border-radius: 15px;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    background: white;
} */

.state>div {
    margin: 10px 0 10px 0;
}

label>span:nth-child(1) {
    color: steelblue;
}

.logs {
    margin: 0 0 13px 0;
}

.log {
    margin: 3px 0 3px 0px;
}

@media (min-width: 401px) {
    .pos{
        padding: 2px 6px 3px 8px;
    }
}

@media (min-width: 261px) and (max-width: 400px) {
    section>div:nth-child(n + 2) {
        font-size: 12px;
    }
    .pos{
        padding: 2px 4px 2px 6px;
    }
}

@media (max-width: 260px) {
    section>div:nth-child(n + 2) {
        margin-left: 7px;
        margin-right: 7px;
        font-size: 11px;
    }
    .pos {
        padding: 1px 3px 1px 5px;
    }
}
