html, body {
    margin: 0 0 5px 0;
    padding: 0;
    background-color: lightgray;

    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    display:none;
}

.main {
    opacity: 1;
}

.disconnected {
    top: 0;
    position: fixed;
    opacity: 1;
}

header {
    margin: 0 0 25px 0;
    height: 60px;
    border-bottom: 3px solid rgb(75, 75, 75);
    background-color: white;
    color: black;
}

header>div {
    height: 60px;
    width: 100%;
}

.back_btn{
    float: left;

    color: rgb(68, 150, 218);
}

.back_btn:hover {
    cursor: pointer;
    
    color: rgba(70, 131, 180, 0.78);
}

.text2_name {
    margin-right: 5px; 
}

@media (min-width: 501px) {
    header>div {
        margin: 0 auto;
        max-width: 700px;
    }
    .logo {
        float: left;
        margin: 13px 0 0 40px;
        height: 50%;
    }
    .text1, .text2 {
        float: right;
        margin: 19px 25px 0 0px;

        font-size: 16px;
    }
    .back_btn{
        margin: 15px 0 0 30px;
        width: 30px;
    }
}

@media (max-width: 500px) {
    header>div {
        display: inline-block;
    }
    .logo {
        display: block;
        margin: 6px auto 0 auto;
        height: 36%;
    }
    .text1, .text2 {
        display: block;
        text-align: center;
    }
    .text1 {
        margin: 7px auto 0 auto;

        font-size: 12px;
    }
    .text2 {
        margin: 22px auto;

        font-size: 12px;
    }
    .back_btn{
        margin: 15px 3px 0 10px;
    }    
    .right_empty {
        float: right;
        margin: 15px 10px 0 3px;
        height: 30px;
        width: 30px;
    }
}