.graph {
    margin: auto;
    width: 500px;
    height: 300px;
    border: 1px solid red;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    color: black;
}

input[type="checkbox"]+label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    background: url(../image/check_radio_sheet.png) left top no-repeat;
    cursor: pointer;
}

input[type="checkbox"]:checked+label span {
    background: url(../image/check_radio_sheet.png) -19px top no-repeat;
}