
.sensor {
    z-index: 2;
    position: fixed;
    width: 100%;
}

section>div:nth-child(n + 2), article {
    margin-left: 20px;
    margin-right: 20px;
}

section>div:nth-child(5) {
    margin-bottom: 15px;
}

.state {
    margin-top: 13px;
    margin-bottom: 20px;
    padding: 2px 4px 3px 4px;
    border-radius: 10px;
    border-top: 2px solid rgb(100, 100, 100);
    border-left: 2px solid rgb(100, 100, 100);
    background: white;
}

.state_item {
    margin: 3px 0 3px 5px;
}

.pos {
    display: inline-block;
    margin-right: 2px;
    border-radius: 9px;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    background: rgb(230, 230, 230);
}

.state>div {
    margin: 10px 0 10px 0;
}

.pos>span:nth-child(1) {
    color: steelblue;
}

.uptime_title, .title_log {
    float: left;

    padding: 0px 4px;

    background-color: white;
    color: rgb(55, 90, 115);
    border-left: 1px solid darkgray;
    border-top: 1px solid darkgray;
    border-radius: 4px;
}

section>div:nth-child(4) {
    margin-bottom: 14px;
}

.title_log {
    margin-bottom: 3px; 
}
/* uptime date */
section>div:nth-child(4)>div:nth-child(2), .logs {
    margin-left: 18px;
}

.unit {
    float: right;
    color: rgb(40, 40, 40);
}

.log {
    margin: 3px 0;
}

.logs {
    border: 2px solid #8f8f8f;
    padding: 5px;
    margin-right: 17px;
    background-color: white;
    overflow-y: scroll;
}

@media (min-height: 1101px) {
    .logs {
        height: 690px;
    }
}

@media (min-height: 901px) and (max-height: 1100px) {
    .logs {
        height: 490px;
    }
}

@media (min-height: 751px) and (max-height: 900px) {
    .logs {
        height: 340px;
    }
}

@media (min-height: 601px) and (max-height: 750px) {
    .logs {
        height: 190px;
    }
}

@media (max-height: 600px){
    .logs {
        height: 140px;
    }
}

@media (min-width: 601px) {
    section>div:nth-child(n + 2), article {
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 476px) {
    article {
        /* log */
        margin-top: 40px;
        font-size: 16px;
    }
    .pos{
        width: 115px;
        padding: 2px 6px 3px 8px;
    }

    .unit{
        margin-top: 7px;
        font-size: 10px;
    }
    section>div:nth-child(4)>div:nth-child(1) {
        height: 24px;
    }
}

@media (min-width: 396px) and (max-width: 475px) {
    section>div:nth-child(n + 2) {
        font-size: 12px;
    }
    article {
        /* log */
        margin-top: 35px;
        font-size: 12px;
    }
    .pos{
        width: 90px;
        padding: 2px 4px 2px 6px;
    }
    .unit{
        margin-top: 2px;
        font-size: 9px;
    }
    section>div:nth-child(4)>div:nth-child(1) {
        height: 18px;
    }
}

@media (min-width: 351px) and (max-width: 395px) {
    section>div:nth-child(n + 2), article {
        font-size: 11px;
    }
    article {
        /* log */
        margin-top: 35px;
    }
    .pos {
        width: 83px;
        padding: 1px 3px 1px 5px;
    }
    .unit{
        margin-top: 1px;
        font-size: 7px;
    }
    section>div:nth-child(4)>div:nth-child(1) {
        height: 16px;
    }
}
/* min-width: 295px */
@media (max-width: 350px) {
    section>div:nth-child(n + 2), article {
        font-size: 11px;
    }
    article {
        /* log */
        margin-top: 35px;
    }
    .pos {
        border-radius: 7px;
        margin-top: 3px;
        margin-left: 10%;
        width: 120px;
        padding: 1px 3px 1px 5px;
    }
    .unit{
        margin-top: 1px;
        font-size: 7px;
    }
    section>div:nth-child(4)>div:nth-child(1) {
        height: 16px;
    }
    section>div:nth-child(4)>div:nth-child(2), .logs {
        margin-left: 4px;
    }
}
